.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-tweet form {
  width: 100%;
}

.new-tweet .form-top {
  border-bottom: 2px solid black;
}

#tweet-text {
  width: 100%;
  border: none;
  background-color: inherit;
  resize: none;
}

.new-tweet .form-bottom {
  display: flex;
  justify-content: space-between;
  font-family:'Bungee', sans-serif;
  margin-top: 1em;
}

.new-tweet .form-bottom button {
  border: none;
  background-color: #4056a1;
  color: #ffffff;
}

.counterOverLimit {
  color: red;
}

.counterUnderLimit {
  color: #545149
}